<% 
  show_help = false

  err = nil
  # if !cu[:paid] && cu[:medium] == 'sms' && cu[:num_msgs_per_day] > 1 
  #   err = "To receive more than #{MAX_FREE_TEXT_MESSAGES_PER_DAY} SMS messages per day, you can <a href='/donate'>support mindy</a>."
  # elsif cu[:medium] == 'sms' && !(cu[:num].to_s.size>5)
  #   err = 'Phone number is invalid.'
  # end
  # events = $events.all(user_id: cuid)
  posts = $posts.all(user_id: cuid, title: {'$exists': true})
%>

<h1> אני </h1>

<div>
		<form action='update_me' method='post' class='form1'>      
      <label> אימייל: <%= cu['email'] %> </label>
      <div></div>

      <label> שם משתמש </label>
      <input class='input1 ltr' placeholder='' value="<%=cu['handle']%>" name='handle' style='margin-right: 5px; margin-left: 0'/>
      
      <br/>

      <!-- <label> מי את/ה? </label>
      <textarea name=desc value=""><%=cu['desc']%></textarea>  -->
      <br/>
      <button class='btn btn-raised btn-info'>עדכן!</button>
		</form>

    <%= erb :'posts/posts_list', locals: {posts: posts} %>    
    </div>
</div>