<!DOCTYPE html>
<html>
<%# flash.message = 'test' %>
<%
@brand = get_brand
%>
<%= erb :'layout/doc_head' %>
<body>  
    <%= erb :"layout/flash" %>        
    <%= erb :"header/links" %>
    
    <div class='container'>
      <%= yield %> 
    </div>

    <div style='zpadding-bottom: 100px'></div>
    
    <%#= erb :"footer" %>           
  <link rel="stylesheet" href="/css/fonts/RobotoFonts.css">
  <link rel="stylesheet" href="/css/fonts/MaterialIcons.css">

<% if !$prod %>
<div style='position: fixed; top: 0; left: 0; height: 100px; width: 100px; background-color: goldenrod; text-align: center; font-weight: bold; font-size: 30px;'>
  DEV MODE
</div>
<% end %>
<!--   <script src="https://js.stripe.com/v3"></script> -->
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-100769576-1', 'auto');
      ga('send', 'pageview');
  </script>

<script>
function layoutOnLoad() {
  $('[data-toggle="tooltip"]').tooltip(); 
  console.log('done layoutOnLoad');
}

$(document).ready(layoutOnLoad);
</script>

</body>
</html>
