/*hello*/

/*post*/
body {
	font-family: 'Assistant', sans-serif !important;
}
#editor {
  font-size: 16px;
  font-family: Lora;
  direction: rtl;
  text-align: right;
  position: relative;
  max-width: 600px;    
  font-family: 'Assistant', sans-serif !important;
}

h1 { 
	font-family: 'Assistant', sans-serif !important;
}

.title .body {
  direction: rtl;
  white-space: pre;
}

.is_owner .title {
  border-bottom:5px solid whitesmoke;
}


.post_buttons_container {
  /* fixed position a zero-height full width container */
  position: fixed;
bottom: 0;
    left: 10%;
    /* right: 0; */
    min-height: 30px;
    text-align: center;
    /* border: 1px solid green; */
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    text-align: left;
}

.post_buttons_container > post_buttons {
  /* make the block inline */
  display: inline-block;
  /* reset container's center alignment */
  text-align: left;
  background-color: red;
  border:1px solid blue;
  z-index: 140;
} 
.saved-btn {
  color: grey;
}

.editable_textarea {
  width: 100%;
  height: auto;
  border: none;
  /*text-align: justify;*/
}

.body_textarea {
	font-size: 18px;
	line-height: 30px;
}

.title_textarea {
	font-weight: 500;
}

.editable_textarea[readonly] {
	cursor: auto;
}
