<style>
.single_user {
  font-size: 24px;
}
</style>

<h1> Search </h1>

<% $users.all.each do |user| %>
<div>
  <a class='single_user' href='/users/<%=user[:_id]%>'> <%= user['name'] %> </a>
</div>
<% end %>