<h1> Forgot Password </h1>

<form action='/login' method='post'>
		<label> Your email: </label> <input class='input1' placeholder='you@gmail.com' name='email' />
		<button class='btn btn-raised btn-info'>Send me a magic link!</button>		
</form>