<%
#events = $events.all.sort_by {|ev| ev[:date] }
posts = get_posts(post_open: 'yes')
%>

<style>
.store_buttons {

}
.store_buttons img {
  width: 45%;
  display: inline-block;
  height: 80px;
}
</style>
<div class='hp'>
	<h1> תוכן. </h1>

  <!-- <h2> Posts </h2> -->
  <%= erb :'posts/posts_list', locals: {posts: posts, show_handle: true} %>
</div>

<script>
// function smoothScrollingTo(target) {
//   $('html,body').animate({scrollTop:$(target).offset().top}, 500);
// }

// $(document).ready(function(){
//   $('a[href*=\\#]').on('click', function(event){     
//     event.preventDefault();
//     smoothScrollingTo(this.hash);
//   });
// });

</script>