<%
#events = $events.all.sort_by {|ev| ev[:date] }
posts = get_posts(post_open: 'yes')

posts.sort_by {|p| p[:created_at]}.reverse 

# posts = posts.uniq { |p| p[:user_id] }


# users = $posts.all.mapo(:user_id).uniq.map {|id| $users.get(id) }

%>

<style>
.store_buttons {

}
.store_buttons img {
  width: 45%;
  display: inline-block;
  height: 80px;
}
.users_area {
  font-size: 20px;
}
.single_hp_user_link {
  font-size: 18px;
  margin:5px;
}
</style>
<div class='hp'>
	<h1> תוכן. </h1>
  <p> פה אפשר וכדאי לכתוב ולקרוא תוכן מעולה בעברית. </p>
  <a href='/signup' class='btn btn-primary btn-raised'> להירשם </a>

  <br/>
  <div class='users_area'>
    <div>פוסטים מלאחרונה:</div>
    <% posts.each do |post| %>
      <% user = $users.get(post[:user_id]) || {}%>
        <div class='single_hp_user_link'>
          <a href='/@<%=user[:handle]%>/<%=post[:_id]%>'>@<%=user[:handle]%>: <%=post[:title]%></a>
        </div>      
    <% end %>
  </div>
  <!-- <h2> Posts </h2> -->
  <%#= erb :'posts/posts_list', locals: {posts: posts, show_handle: true} %>
</div>

<script>
// function smoothScrollingTo(target) {
//   $('html,body').animate({scrollTop:$(target).offset().top}, 500);
// }

// $(document).ready(function(){
//   $('a[href*=\\#]').on('click', function(event){     
//     event.preventDefault();
//     smoothScrollingTo(this.hash);
//   });
// });

</script>