<%
#events = $events.all.sort_by {|ev| ev[:date] }
%>

<style>
.store_buttons {

}
.store_buttons img {
  width: 45%;
  display: inline-block;
  height: 80px;
}
</style>
<div class='hp'>
	<h1> תוכן. </h1>
  <p> תוכן ישראלי ממש טוב.</p>

  <% if false %>
  <a class='btn btn-info btn-raised' href='/signup'>Sign up (free)</a>
  <a class='btn btn-info btn-raised' href='/login'>Login</a>
  <% end %>
  <div>
  </div>
</div>

<script>
// function smoothScrollingTo(target) {
//   $('html,body').animate({scrollTop:$(target).offset().top}, 500);
// }

// $(document).ready(function(){
//   $('a[href*=\\#]').on('click', function(event){     
//     event.preventDefault();
//     smoothScrollingTo(this.hash);
//   });
// });

</script>