<h3> לוגין </h3>
<br/>

<form action='/login' method='post' class=center_col>
    <label class=w200> אימייל: </label> <input class='input1' placeholder='you@gmail.com' name='email' />
    <br/>
    <label class=w200> סיסמא: </label> <input class='input1' placeholder='' name='password' type=password />
    <br/>
    <button class='btn btn-raised btn-info'>להיכנס!</button>    
</form>