<div class='ct'>
  <% if !locals[:skip_next] %>
    <button type='button' class='btn btn-raised btn-info' onclick=nextObStep() > Next </button>
  <% else %>
    <button type='button' class='btn' onclick=closeOb()> Close </button>
  <% end %>
</div>