<%
  splat  = pr['splat']
  handle = splat[0]
  
  user   = $users.get(handle: handle)
  posts  = user ? $posts.all(user_id: user[:_id], post_open: 'yes').reverse : []
%>

<h1> <%= handle %> </h1>

<%= erb :'posts/posts_list', locals: {posts: posts} %>    

<%#= user.to_json %>

