<% 
  post_id   = post[:_id]
  num_views = $views.count(post_id: post_id)
%>

<style>
.num_views {
  position: relative;
    /*top: 17px;*/
        /* left: 16px; */
    padding-left: 20px;
    padding-right: 20px;
}
</style>

<div class='post_buttons_container'>
  <div class='post_buttons'>
    <div class='saved-btn btn'></div>

    <button id=save_post_btn class='btn btn-raised' onclick=savePost() data-placement=top data-toggle=tooltip data-title="לשמור שינויים"> <span class='save_post_btn_text'> לשמור </span> <i class='fa fa-floppy-o'></i></button>
    
    <button class='btn' onclick=$("#img_uploader").click() data-placement=top data-toggle=tooltip data-title="להוסיף תמונה"> <i class='fa fa-picture-o'></i></button>

    <a class='publish-btn-toggle publish-btn btn btn-raised btn-primary <%= "noDisplay" if post[:post_open].to_s == 'yes' %>'   data-toggle="tooltip" data-placement="top">לפרסם!</a>

    <a class='publish-btn-toggle unpublish-btn btn <%= "noDisplay" if !(post[:post_open].to_s == 'yes') %>' data-toggle="tooltip" data-title="פתוח לצפייה; לחץ להסתיר" data-placement="top"><i style='color: green' class='fa fa-eye'></i></a>
    
  </div>
</div>

<script>

$(document).ready(function() {
  $('.publish-btn-toggle').click(()=> { $('.publish-btn-toggle').toggleClass('noDisplay');});
  $('.publish-btn').click(()=> { $.post('/posts/<%=post_id%>',{post_open: 'yes'}) });
  $('.unpublish-btn').click(()=> { $.post('/posts/<%=post_id%>',{post_open: 'false'}) });
});   
</script>