<div class='posts'>
  <ul>
  <% posts.each do |post| %>
    <% user = $users.get(post[:user_id]) || {} %>
    <li><a href='/@<%=user['handle']%>/<%=post[:_id]%>'><%=post['title']%></a> (<%=user[:handle]%>)</li>
  <% end %>
  </ul>
</div>
<!-- <p> האירועים שלי </p> -->      