<h1> About </h1>

<p> פשוט אתר של תוכן טוב. </p>

<p> This site was made to help the Israeli community at this time. Terms of use are you take full responsibility for absolutely everything and we take responsibility for absolutely nothing. By using this site you consent to these terms.</p>

<p> For any questions please contact sella.rafaeli@gmail.com. </p>
